<div class="page">
  <h1>{{title}}</h1>
  <div class="soiree-details">
    <h2>{{soiree.nom}}</h2>
    <div class="soiree-info">
      {{#if soiree.description}}
        <p><strong>Description :</strong> {{soiree.description}}</p>
      {{/if}}
      {{#if soiree.tarif_normal}}
        <p><strong>tarif_normal :</strong> {{soiree.tarif_normal}}</p>
      {{/if}}
      {{#if soiree.date}}
        <p><strong>Date :</strong> {{formatDate soiree.date}}</p>
      {{/if}}
    </div>
  </div>
</div>