<div class="page">
  <h1>Nos Spectacles</h1>
  <div>
    {{#each spectacles}}
    <div class="spectacle-card" data-soiree-id="{{soiree.self}}" style="cursor: pointer;">
      <h2>{{titre}}</h2>
      <div>
        <p><strong>Date :</strong> {{formatDate date}}</p>
        <p><strong>Horaire :</strong> {{formatTime horaire}}</p>
        <p><strong>Soirée :</strong> {{soiree.nom}}</p>
      </div>
    </div>
    {{/each}}
  </div>
</div>