<div class="page">
<div class="home-filters">
    <h1>PROGRAMMATION</h1>
    <div class="filter-types">
        <button class="filter-type-button {{#if (eq activeFilter 'dates')}}active{{/if}}" data-filter-type="dates">
            DATES
        </button>
        <button class="filter-type-button {{#if (eq activeFilter 'lieux')}}active{{/if}}" data-filter-type="lieux">
            LIEUX
        </button>
         <button class="filter-type-button {{#if (eq activeFilter 'styles')}}active{{/if}}" data-filter-type="styles">
            STYLES
        </button>
    </div>

    {{#if (eq activeFilter 'dates')}}
    <div class="filter-buttons">
        <button class="date-button {{#if (eq selectedDate 'all')}}active{{/if}}" data-date="all">
            TOUS LES JOURS
        </button>
        {{#each availableDates}}
        <button class="date-button {{#if (eq ../selectedDate this)}}active{{/if}}" data-date="{{this}}">
            {{formatDateButton this}}
        </button>
        {{/each}}
    </div>
    {{/if}}

    {{#if (eq activeFilter 'lieux')}}
    <div class="filter-buttons">
        <button class="lieu-button {{#if (eq selectedLieu 'all')}}active{{/if}}" data-lieu="all">
            TOUS LES LIEUX
        </button>
        {{#each availableLieux}}
        <button class="lieu-button {{#if (eq ../selectedLieu this)}}active{{/if}}" data-lieu="{{this}}">
            {{this}}
        </button>
        {{/each}}
    </div>
    {{/if}}

    {{#if (eq activeFilter 'styles')}}
    <div class="filter-buttons">
        <button class="style-button {{#if (eq selectedStyle 'all')}}active{{/if}}" data-style="all">
            TOUS LES STYLES
        </button>
        {{#each availableStyles}}
        <button class="style-button {{#if (eq ../selectedStyle this)}}active{{/if}}" data-style="{{this}}">
            {{this}}
        </button>
        {{/each}}
    </div>
    {{/if}}
</div>
 <div class="spectacles-grid">
    {{#each spectacles}}
    <div class="spectacle-card" data-soiree-id="{{soiree.self}}" style="cursor: pointer;">
        <img src="/img/{{images}}" alt="{{images}}">
        <div>
            <h2>{{titre}}</h2>
            <p>{{formatDateButton date}} / • {{formatTime horaire}}</p>
        </div>
    </div>
    {{/each}}
</div>
</div>